[submodule "tools/mpssh"]
	path = tools/mpssh
	url = git://github.com/ndenev/mpssh.git
[submodule "tools/murder"]
	path = tools/murder
	url = git://github.com/lg/murder.git
[submodule "ext/Gamma"]
	path = ext/Gamma
	url = git://github.com/LancePutnam/Gamma.git
[submodule "ext/gfx"]
	path = ext/gfx
	url = git://github.com/wolftype/gfx.git
[submodule "ext/vsr"]
	path = ext/vsr
	url = git@github.com:wolftype/vsr2.0.git
