[submodule "tools/mpssh"]
	path = tools/mpssh
	url = git://github.com/ndenev/mpssh.git
[submodule "tools/murder"]
	path = tools/murder
	url = git://github.com/lg/murder.git
[submodule "ext/vsr"]
	path = ext/vsr
	url = git://github.com/wolftype/vsr.git
