build/
xcuserdata
doxygen_objdb_*
.DS_Store
.svn
.vagrant/
*.a
*.d
*.dylib
*.framework
*.la
*.lai
*.lib
*.link
*.lo
*.mode1v3
*.ncb
*.o
*.pbxuser
*.perspectivev3
*.slo
*.so
*.spec
*.suo
*.tm_build_errors
*.vcproj.*
*.wwdb
*.xcworkspace
*~
